@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1 class="col-sm-4 mx-auto m-0" style="font-size:52px; font-family:'Bebas Neue';">Requirement  <i class="fas fa-project-diagram text-secondary" style="font-size: x-large;"></i></h1>
    <h1 class="" style="font-size:44px; font-family:'Bebas Neue';">Management Software</h1>
    <div class="col-sm-4 mx-auto" style="border: 1px solid;"></div>
    <br />
    <br />
    <p class="lead mb-1" style="font-size:28px; font-family:Forte">Supervised By <br /><strong style="font-size:25px; font-family:'Agency FB';">Md. Shafiul Azam</strong></p>
    <br />
    <p class="lead fod" style="font-size:28px; font-family:Forte">Developed By <br /><strong style="font-size:25px; font-family:'Agency FB';">Md. Enamul Hasan</strong></p>
    @*<p><a href="http://asp.net" class="btn btn-dark btn-lg">Learn more &raquo;</a></p>*@
</div>
